{% extends "master.html" %}

{% block title %}
    Verify Account
{% endblock %}

{% block content %}
    <h1>Verify Account</h1>
    <h2>OTP Code Only Lasts 5 minutes</h2>
    {% if error %}
        <h3>Wrong Code</h3>
    {% elif resent %}
        <h3>New Code Sent</h3>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{verification_form.as_p}}
        <button type="submit">Verify</button>
    </form>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" name="resend"> Resend Code </button>
    </form>
{% endblock %}